#Grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 4px black;
    border-radius: 8px;
    min-width: 512px; max-width: 512px;
    min-height: 512px; max-height: 512px;
    padding: 32px;
}

#Pallet {
    display: flex;
    flex-wrap: wrap;
    border: solid 4px black;
    border-radius: 8px;
    min-width: 64px; max-width: 512px;
    min-height: 64px; max-height: 512px;
    padding: 32px;
}

.GridNode {
    margin: 0px;
    background-color: white;
    box-shadow: 0 0 2px inset rgb(36, 36, 36);
}

.GridNode:hover {
    box-shadow: 0 0 4px inset rgb(0, 217, 255);
}

#Grid .GridNode {
    min-width: 6.25%; min-height: 6.25%;
    max-width: 6.25%; max-height: 6.25%;
}

#Pallet .GridNode {
    min-width: 32px; min-height: 32px;
    max-width: 32px; max-height: 32px;
}