#Editor {
    display: flex;
    justify-content: center;
    min-height: 512px; max-height: 512px;
}

#Grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 4px black;
    border-radius: 8px;
    min-width: 512px; max-width: 512px;
    padding: 32px;
}

#ColorPallet {
    align-self: center;
    display: flex;
    border: solid 4px rgb(0, 0, 0);
    border-radius: 8px;
    flex-direction: column;
    min-width: 200px; max-width: 200px;
}

#ColorPallet #Title {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: 16px;
}

#Pallet {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px rgb(97, 97, 97);
    border-radius: 8px;
    min-width: 160px; max-width: 160px;
    padding: 16px;
    align-self: center;
}

.GridNode {
    margin: 0px;
    background-color: white;
    box-shadow: 0 0 2px inset rgb(36, 36, 36);
}

.GridNode:hover {
    box-shadow: 0 0 4px inset rgb(0, 217, 255);
}

#Grid .GridNode {
    min-width: 6.25%; min-height: 6.25%;
    max-width: 6.25%; max-height: 6.25%;
}

#Pallet .GridNode {
    min-width: 24px; min-height: 24px;
    max-width: 24px; max-height: 24px;
}